/Centa.Agency.HostService/bin
/Centa.Agency.HostService/obj
/Centa.Agency.Application.Service/bin
/Centa.Agency.Application.Service/obj
/DDD.Core/bin
/DDD.Core/obj
/Centa.Agency.Web/bin
bin
obj
/Centa.HostService.SysLog/obj
/Centa.HostService.SysLog/bin
/Centa.Agency.Application.Interface/obj
/Centa.Agency.Domain/obj
/Centa.Agency.Domain/bin
/Centa.Agency.Query/bin
/Centa.Agency.Query/obj
/Centa.Agency.Web/obj
