<log4net>
  <root>
    <level value="Error" />
    <!-- <appender-ref ref="RollingLogFileAppender" /> -->
    <appender-ref ref="ErrorRollingLogFileAppender" />
  </root>
  <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="ERROR">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="c:\surging\Error\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.TXT" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>
</log4net>
